//** GENERAL TAGS **//
body,html {
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    font-size: $bodyFontSize;
}

body {
    font-family: $bodyFont;
    font-weight: $bodyWeight !important;
    font-style: normal;
    font-size: $bodyFontSize;
    color: $white;
    background-color: $dark;
    line-height: $lineHeight;
}

//** HEADINGS **//

@each $heading, $size in $headings {
    #{$heading}, .#{$heading} {
        @include fontRem( $size );
        font-family: $headingFont;
        color: $white;
        font-weight: $headingWeight;
    }
}

h1, #h1, .h1 {
    font-family: $h1Font;
    font-weight: $h1Weight;
    @include fontRem(42px);
    color: $white;
}
//** LINK **//
a {
    &:link { 
        color: $white; 
        transition: color 0.3s ease;
    }
    
    &:visited {
        color: $white;
        text-decoration: none;
    }
    
    &:active {
        color: darken($white, 10%);
        text-decoration: underline;
    }
    
    &:hover {
        color: $color2;
        text-decoration: none;
        transition: color 0.3s ease;
    }
}